$body-color: rgb(40, 39, 49);

$header-url: url("../img/m-h-night.jpg");
$header-fontcolor: #fff;
$wordcolor: rgb(235, 80, 19);

$btn-color: rgb(221, 152, 49);

$background-color: rgb(241,161,28);
$background-gradient: linear-gradient(45deg, rgba(241,161,28,1) 0%, rgba(175,48,74,1) 100%);

$bgr-main: rgb(54, 54, 68);